   
 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/adminLogin" method="POST">
           
        <input type="text" name="adminName" id="adminName">
        <input type="email" name="adminEmail" id="adminEmail">
        <input type="password" name="password" id="adminPassword">

        <input type="submit" value="add plant">
    </form>

    



    <script src='js/main.js'></script>
</body>
</html>
</html>