<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Medicinal plants</h1>
    <ul class="plants">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="plant">
            <span><%= info[i].plantName %></span>
            <span><%= info[i].mainIngredient %></span>
            
        </li>
    <% } %>
    </ul>

    <h2>Add A Plant</h2>

    <form action="/addPlant" method="POST">
        <input type="text" placeholder="Plant Name" name="plantName">
        <input type="text" placeholder="Main Ingredient" name="mainIngredient">
        <input type="text" placeholder="area" name="area">
        <input type="text" placeholder="Biological Activity/ies" name="biologicalActivity">

        <input type="submit" value="add plant">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>