@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Parisienne&family=Passion+One&family=Press+Start+2P&family=Roboto&family=Russo+One&display=swap');
*, *::before, *::after { 
    margin: 0;
    padding: 0;

}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 99.14vw;
}
    

header {
    position: relative;
    height: 80vh;
    width: 100%;
    background-color: lightgreen;
    border-radius: 0 0 500px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


input[type = text] {
    padding: 20px;
    width: 500px;
    border-radius: 20px;
    border: 1px solid rgb(0, 255, 0);
    box-shadow:  0 0 12px rgb(4, 139, 4);
    outline: none;
    font-size: 1.3rem;
}
input[type = submit] {
    color: rgb(41, 234, 41);
    padding: 20px;
    border-radius: 20px;
    border: 2px solid lightgreen;
    box-shadow:  0 0 12px rgb(4, 139, 4);
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all ease-in 0.5s;
}
input[type = submit]:hover {
    background-color: lightgreen;
    color: white;
}
/* video {
    position: absolute;
    width: 100vw;
    height: 100vh;

} */

.logo {
    position: absolute;
    border: none;
    border-radius: 0 0 100px 0;
    top: 0;
    left: 0;
    font-family: 'Parisienne', cursive;
    font-weight: 700;
    font-size: 80px;
    color: lightgreen;
    padding: 10px;
    background-color: white;
}

main {
    margin-top: 100px;
    text-align: center;
}
.subtitle {
    margin-top: -50px;
    margin-bottom: 50px;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 3rem;
    color: rgb(119, 234, 119);
}
.plants {
  /* border: 1px solid black;   */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  /* align-items: center; */
  width: fit-content;
     /* background-color: grey; */
     height: 1300px;
     overflow-y: scroll;
     margin: auto;
     /* padding-right: 0px; */
     
     grid-column-gap: 250px;
     grid-row-gap: 100px;
     scrollbar-width: auto ;
    scrollbar-color: #2ae424 #f5f5f5;
    padding: 10px;
}
.plants::-webkit-scrollbar  {
    width: 5px;
    background-color: transparent;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}



.plants::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #2ae424;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.plants::-webkit-scrollbar-button {
    border-radius: 10px;
    background-color: #2ae424;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}










/* plant carde below */
.plant-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    width: 300px;
    height: 300px;
    background-color: lightgreen;
    box-shadow:  0 0 12px rgb(4, 139, 4);
    border-radius: 20px;
    
}

.card-info {
    /* position: fixed; */
    display: grid;
    text-align: center;
    /* grid-template-columns: 1fr 1fr; */
    height: 150px;
   
}

/* this makes the plant image closed inside the plant card */
.small-image {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 20px;
    top: 0;

}


.plantName {
    /* display: none; */
    position: relative;
 background-color: rgb(255, 255, 255);;
 color: rgb(38, 227, 38);
 bottom: 0;
 padding: 10px;
 border-radius: 20px 20px 0 0;
 z-index: 1000;
}

.moreSection {
    /* display: none; */
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    width: 300px;
    border-radius: 0 0 20px 20px ;
    z-index: 1000;
}

.moreSection button {
    background-color: white;
    color: rgb(38, 227, 38);
    border: none;
    border-radius: 10px 10px 0 0;
    font-family: "Roboto";
    font-size: 20px;
}

.moreSection button:hover {
    cursor: pointer;
}

.moreInfo {
    width: 50%;
    padding: 10px;
}




footer {
    display: grid;
    height: 500px;
    background-color: lightgreen;
    margin-top: 100px;
    border-radius: 500px 0 0 0;
}

.copyright {
    align-self: end;
    font-family: "Roboto";
    color: white;
    font-weight: bold;
    text-decoration: none;
}





@media all and (max-width: 1421px) {
    .plants {
        grid-column-gap: 150px;
    }
}

@media all and (max-width: 1237px) {
    .plants{
        grid-column-gap: 100px;

    }
}

@media all and (max-width: 1141px) {
    .plants {
  grid-template-columns: 1fr 1fr ;

    }
}


@media all and (max-width: 800px) {
    .plants{
        grid-column-gap: 50px;

    }
}

@media all and (max-width: 724px) {
    .plants {
        grid-template-columns: 1fr  ;
      
          }
          
input[type = text]{
    width: 350px;
}
}

@media all and (max-width: 600px) {
    input[type = text]{
        width: 250px;
    }
}


@media all and (max-width: 464px) {
    input[type = text]{
        width: 200px;
    }
}

@media all and (max-width: 404px) {
    .logo {
        font-weight: 700;
        font-size: 60px;
        padding: 10px;
    }
}


@media all and (max-width: 362px) {
    input[type = text]{
        width: 150px;
    }
}


@media all and (max-width: 322px) {
    .plant-card , .moreSection{
        width: 250px;
        
    }
    .logo {
        font-weight: 700;
        font-size: 50px;
        padding: 10px;
    }
}


@media all and (max-width: 306px) {
    input[type = text]{
        width: 100px;
    }
}

