html {
    font-size: 62.5%;
}


body {
   background: lightgreen;
    color: white;
}

 main {
  display: flex; 
  flex-direction: column;
  /* justify-content: center; */
  /* background-color: black; */
 }
 .main-admin {
    display: flex; 
     flex-direction: column;
    /* background-color: white; */
    width: 100vw;
    height: 100vh;
    justify-content: center;
 }



h1,h2, li, .DataCounter {
    font-size: 2.7rem;
}

.plants {
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    /* width: 50%; */
    /* height: 100vh; */
    /* margin: 5px 10px; */
    background: white;
    /* grid-area: plantsData; */
}
.plant {
    width: 90%;
}



form {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   border: 1px solid black;
   border-radius: 10px;
   width: 50%;
   padding: 10px 10px;
   color: black;
   background: white;
   /* margin: 5px 10px; */
   /* grid-area: formArea; */

}


input {
    padding: 10px;
    margin:10px 0;


}
input[type="submit"]{
    width: 50%;
    margin: 0 auto;

}

.stats{
    border: 1px solid black;
   border-radius: 10px;
   /* width: 50%; */
   /* height: 200px; */
   padding: 10px 10px;
   color: black;
   background: white;
   /* margin: 5px auto; */
    /* grid-area: stats; */
}


@media all and (max-width: 532px) {
    form, .plants {
        width: 80%;
    }
    h1,h2, li, .DataCounter {
        font-size: 2.2rem;
    }
    /* .main-admin{
        flex-direction: column;
    } */
}